* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/martini.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.nav-wrapper {
    color:white;
    font-family: 'Cookie', cursive;
}
.ranHead {
    color: rgb(255, 208, 121);
}

/*Card CSS*/
main .card{
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
}
.card img{
    width: 100%;
    height: auto;
} 