* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/martini.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
  }
.nav-wrapper {
    color:white;
    font-family: 'Cookie', cursive;
}
.ranHead {
    color: rgb(255, 208, 121);
}

#menu {
    position: fixed;
    bottom: 40px;
    right: 40px;
}

.tap-target {
    color: white;
}

#popP {
    font-size: 115%;
}

.cardEl {
    border: solid white 5px;
    border-radius: 10px;
}

.card-title{
    font-size: 250%;
    font-weight:900;
    background-color:black;
}

h6 {
    font-family: 'Cookie', cursive;
    text-decoration: underline;
    font-size: 200%;
}