* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/martini.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.nav-wrapper {
    color:white;
    font-family: 'Cookie', cursive;
}
.ranHead {
    color: rgb(255, 208, 121);
}

#menu {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: tomato;
}

.tap-target {
    color: white;
}

#popP {
    font-size: 115%;
}